# Ime projekta — uporablja se kot prefiks za Traefik routerje, service in middleware,
# ter kot ime docker interne mreže (${COMPOSE_PROJECT_NAME}-docker).
# Mora biti unikatno na serverju!
COMPOSE_PROJECT_NAME=mautic_instance1

# Domena, na kateri bo dostopen Mautic
DOMAIN=mautic.example.com

# Časovni pas
TIMEZONE=Europe/Ljubljana

# Verzija Mautic Docker slike (brez -apache suffixca)
MAUTIC_VERSION=6.0.4

# --- MariaDB ---
MYSQL_DATABASE=mautic_db
MYSQL_USER=mautic_db_user
MYSQL_PASSWORD=change_me_strong_password
MYSQL_ROOT_PASSWORD=change_me_root_password

